@{
    ViewData["Title"] = "تماس با دانشکده";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="list-group">
        <div class="list-group-item">
            <h5 class="mb-1">تلفن مسئول آموزش</h5>
            <p class="mb-1">0123-456789</p>
        </div>
        <div class="list-group-item">
            <h5 class="mb-1">تلفن دفتر دانشکده</h5>
            <p class="mb-1">0987-654321</p>
        </div>
    </div>
</div>
