@{
    ViewData["Title"] = "مقاطع تحصیلی";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="list-group">
        <div class="list-group-item">
            <h5 class="mb-1">کارشناسی</h5>
            <p class="mb-1">مهندسی نرم‌افزار</p>
            <p class="mb-1">مهندسی سخت‌افزار</p>
            <p class="mb-1">فناوری اطلاعات</p>
        </div>
        <div class="list-group-item">
            <h5 class="mb-1">کارشناسی ارشد</h5>
            <p class="mb-1">مهندسی نرم‌افزار</p>
            <p class="mb-1">مهندسی سخت‌افزار</p>
            <p class="mb-1">فناوری اطلاعات</p>
        </div>
        <div class="list-group-item">
            <h5 class="mb-1">دکترا</h5>
            <p class="mb-1">مهندسی نرم‌افزار</p>
            <p class="mb-1">مهندسی سخت‌افزار</p>
            <p class="mb-1">فناوری اطلاعات</p>
        </div>
    </div>
</div>
